<header>
    <nav class="page-nav">
      <h2 class="title">TrackHub</h2>
      <div class="nav-content">
        <div class="search-container">
          <input type="text" class="search-bar" placeholder="Search">
          <ul class="suggestion-list"></ul>
        </div>
        <div class="links-container">
          <a href="/pages/home.html">Home</a>
          <a href="/pages/feed-page.html">Songs</a>
          <a href="#">Artists</a>
          <button class="account-btn"><a href="/pages/login.html">Sign in/up</a></button>
        </div>
      </div>
    </nav>
  </header>