@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', 'sans-serif';
}

#header-container{
    height: 10dvh;
    background: #03011f;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.container{
    min-height: fit-content;
    background: #03011f;
    display: flex;
}

.menu-bar{
    display: flex;
    position: relative;
    background-color: #03020f;
    width: 15%;
    min-height: 90dvh;
    height: fill;
    border: 3px solid #FF6B00;
    box-shadow: 0 0 3px #FF6B00, 0 0 3px #FF6B00 inset; 
}

.back-btn{
    background: none;
    border: none;
    color: #3498db;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0;
    text-align: left;
}

.back-btn:hover{
    text-decoration: underline;
}

#songs-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.modal{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 20;
}
  
.modal-content{
    background: #191835;
    padding: 3rem;
    border-radius: 12px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #FF6B00;
}