*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.page-nav{
    height: 10dvh;
    background: #03011f;
    display: flex;
    align-items: center;
}

.page-nav .title{
    width: 25%;
    margin-left: 20px;
    font-weight: bold;
    font-size: 80px;
    color: #FF6B00; 
}

.nav-links{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.search-container{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 30px;
}

.search-bar{
    width: 50%;
    border: 2px solid #00FFFF;
    padding: 8px 15px;
    border-radius: 14px;
    color: #00FFFF;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    outline: none;
}

.links-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #00FFFF;
    font-size: 20px;
    font-weight: bold;
}

.nav-btn{
    border: 3px solid #00FFFF;
    padding: 5px 10px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 45px;
    white-space: nowrap;
}

.container{
    min-height: 90dvh;
    background: #03011f;
    display: flex;
    width: 100%;
}

.menu-bar{
    width: 20%;
    color: black;
    background: rgba(23, 23, 71, 1);
    border-radius: 8px;
    height: 88dvh;
}

#music-feed{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 8px;
    width: 78%;
    height: 88dvh;
    justify-items: center;
    background: rgba(23, 23, 71, 1);
}

.music-card{
    display: flex;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #FF00FF;
    height: 65px;
    width: 100%;
}

.music-card:hover{
    background: linear-gradient(0deg, rgba(78, 46, 99, 1) 0%, rgba(23, 23, 71, 1) 42%);
}

.music-card img{
    background: white;
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.card-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}

.card-title{
    height: 40%;
    font-size: larger;
    font-weight: bold;
}

.card-composer{
    height: 30%;
    font-size: 0.9rem;
    opacity: .8;
}

.card-buttons{
    height: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.card-buttons button{
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    color: #00FFFF;
}

.card-buttons button:hover{
    background-color: #FF6B00;
}