*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
.page-nav{
    height: 10dvh;
    background: #03011f;
    display: flex;
    align-items: center;
}

.page-nav .title{
    width: 25%;
    margin-left: 20px;
    font-weight: bold;
    font-size: 80px;
    color: #FF6B00; 
}

.nav-links{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.search-container{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 30px;
}

.search-bar{
    width: 50%;
    border: 2px solid #00FFFF;
    padding: 8px 15px;
    border-radius: 14px;
    color: #00FFFF;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    outline: none;
}

.links-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #00FFFF;
    font-size: 20px;
    font-weight: bold;
}

.nav-btn{
    border: 3px solid #00FFFF;
    padding: 5px 10px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 45px;
    white-space: nowrap;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    background: #4e2e63;
    background: linear-gradient(0deg, rgba(78, 46, 99, 1) 0%, rgba(23, 23, 71, 1) 42%);
}

.content{
    border-radius: 15px;
    height: 60%;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: #040131;
    color:#00FFFF;
}
.content::before{
    content: ""; 
    position: absolute;
    width: 40%;
    height: 100%;
    box-shadow: 0 0 3px #00FFFF, 0 0 3px #00FFFF inset;
    background: #03011f;
    left: 0;
}

.login-content{
    display: flex;
}

.login-content .second-column{
    z-index: 11;
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.description{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
}

.btn{
    background-color: #00FFFF;
    color: #03011f;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 0 0 5px #00FFFF;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    height: 45px;
    white-space: nowrap;
}

.btn:hover{
    box-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input{
    height: 45px;
    width: 200px;
    border: none;
    background: #090450;
    border-radius: 15px;
    box-shadow: 0 0 5px #00FFFF;
    color:#00FFFF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 14px;
    margin-bottom: 8px;
    text-decoration-line: none;
    outline: none;
}

.icon-modify{
    padding: 0 5px;
}

.music-feed {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.song-card {
    background: linear-gradient(135deg, #1a1a40, #0a0a23);
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00FFFF;
}

.sign-content{
    position: absolute;
    display: flex;
}

.sign-content .first-column{
    order: 2;
    z-index: -1;
}

.sign-content .second-column{
    order: 1;
    z-index: -1;
}

.sign-in-js .login-content .first-column{
    z-index: -1;
}

.sign-in-js .sign-content .first-column,
.sign-in-js .sign-content .second-column{
    animation: appearLate 1s ease forwards;
    animation-delay: 1s;
}

.sign-in-js .content::before{
    left: 60%;
    animation: slidein 1.3s ease-in-out forwards;
    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideout 1.3s ease-in-out forwards;
    z-index: 12;
}

.sign-up-js .sign-content .first-column,
.sign-up-js .sign-content .second-column{
    z-index: -1;
}

.sign-up-js .login-content .first-column,
.sign-up-js .login-content .second-column{
    z-index: -1;
    animation: appearLate 1s ease forwards;
    animation-delay: 1s;
}

.sign-in-js .login-content .second-column{
    z-index: -1;
    position: relative;
    animation: leftShift 1s ease-in;
}

.sign-up-js .sign-content .second-column{
    position: relative;
    z-index: -1;
    animation: rightShift 1s ease-in;
}

@keyframes leftShift{
    from{
        transform: translateX(0%);
        opacity: .8;
        z-index: 12;
    }
    100%{
        transform: translateX(-15%);
        opacity: 0;
        z-index: -1;
    }
}

@keyframes rightShift{
    from{
        transform: translateX(0%);
        opacity: .6;
        z-index: 12;
    }
    50%{
        opacity: .2;
    }
    75%{
        opacity: 0;
    }
    100%{
        transform: translateX(15%);
        opacity: 0;
        z-index: -1;
    }
}


@keyframes slidein {
    0%{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-150%);
    }
    100%{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translateX(0%);
    }
}

@keyframes slideout {
    0% {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translateX(150%);
    }
    100%{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(0%);
    }
}

@keyframes appearLate {
    0%{
        opacity: 0;
        z-index: -1;
    }
    25%{
        opacity: .2;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .7;
    }
    to{
        opacity: 1;
        z-index: 13;
    }
}